{% extends 'admin-list-base.html' %}

{% block title %} Examr - Examinees {% endblock %}

{% block examinees_tab %}active{% endblock %}

{% block header_title %}Examinees{% endblock %}
{% block header_description %}
    All examinees can be viewed in this page. You can perform search by using the search bar below.
    you can also perform basic sorting and filtering.
{% endblock %}

<div class="card-panel teal">
    <span class="white-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.</span>
</div>

{% block utility %}
    <div class="card-panel yellow accent-1">
        <h2>Note</h2>
        <p>This app is still in its alpha. no serious backend logic were implemented as of now.</p>
    </div>
{% endblock %}