<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Examr Admin Base Template {% endblock %}</title>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Path of the materialize.min.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize-blue-green.css') }}" media="screen,projection">
    <!-- Custom css file path -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Used as an example only to position the footer at the end of the page.
      You can delete these styles or move it to your custom css file -->
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            /*background: -webkit-linear-gradient(#2196f3, #69f0ae);*/
        }

        main {
            flex: 1 0 auto;
        }

        .header-1 {
            font-size: 1.5rem;
        }
    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav id="navbar" class="nav-extended">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">Examr</a>
                    <a href="" class="sidenav-trigger" data-target="mobile-sidenav"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#" class="active">Examinee</a></li>
                        <li><a href="#">Exams</a></li>
                        <li><a href="#">Examinees</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav-content">
                {% block navcontent %}

                {% endblock %}
            </div>
        </nav>

    </div>
    <nav id="mobile-sidenav" class="sidenav">
        <h1 class="center blue-text">Examr</h1>
        <p class="center grey-text">Version 0.0.1</p>

        <div class="divider"></div>
        <ul>
            <li><a href="#" class="active">Login</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <main style="margin-top: 4rem;">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer green accent-4">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Cofi.co Solutions
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
     {% block script %}
         <script>
        </script>
     {% endblock %}

</body>

</html>